/* Initial styles for animation "from afar" */
.initial-text {
   transform: scale(0.5); /* Zoom to half size */
   opacity: 0; /* Zero opacity */
}

/* Text appearance animation */
.animate-text {
   transform: scale(1); /* Full size */
   opacity: 1; /* Full opacity */
}
